version: '3.9'
services:
  postgres:
    image: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=random
  user_app:
    build: 
      context: ./
      dockerfile: Dockerfile
      network: host
    environment:
      - DATABASE_URL=postgresql://postgres:random@postgres:5432/postgres
    ports:
      - 3000:3000
    depends_on:
      - postgres