version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Ronak@2006
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: docker/Dockerfile.backend
    ports:
      - "3001:3001"
    environment:
      DATABASE_URL: postgresql://postgres:Ronak%402006@db:5432/postgres
    depends_on:
      - db

  ws:
    build:
      context: .
      dockerfile: docker/Dockerfile.ws
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: postgresql://postgres:Ronak%402006@db:5432/postgres
    depends_on:
      - db

  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.frontend
      args:
        - DATABASE_URL=postgresql://postgres:Ronak%402006@db:5432/postgres
    ports:
      - "3000:3000"
    environment: 
      - DATABASE_URL=postgresql://postgres:Ronak%402006@db:5432/postgres
    depends_on:
      - db

volumes:
  postgres_data: